<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_10"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".View.AddSongPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".View.TopArtistActivity"
            android:exported="false" />
        <activity
            android:name=".View.TopSongActivity"
            android:exported="false" />
        <activity
            android:name=".View.SongPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".View.ListenActivity"
            android:exported="false" />
        <activity
            android:name=".View.SongArtistActivity"
            android:exported="false" />
        <activity
            android:name=".View.MyHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".View.MyPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".View.AllSongsActivity"
            android:exported="false" />
        <activity
            android:name=".View.ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name=".View.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>